<div class="container mt-5">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
             <li class="nav-item">
                    <a href="{% url 'home'%}" class="nav-link px-2 text-body-secondary text-body-emphasis">
                        Home
                    </a>
            </li>
            <li class="nav-item">
                    <a href="{% url 'contacto'%}" class="nav-link px-2 text-body-secondary text-body-emphasis">
                        Contacto
                    </a>
            </li>
            <li class="nav-item"><a href="{% url 'listado2'%}" class="nav-link px-2 text-body-secondary text-body-emphasis">Listado 2</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary text-body-emphasis">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary text-body-emphasis">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2025 Universidad Galileo</p>
    </footer>
</div>