{% extends "layout/base.html" %}
{% block content %} 
    <div class="container mt-5">
        <h1>About</h1>
        <p class="text-bg-primary border border-secondary border rounded-2 p-3">
            Esta aplicación de eventos es un proyecto de ejemplo para demostrar el uso de Django como framework web.
            Permite a los usuarios gestionar eventos, incluyendo la creación, edición y eliminación de eventos.
            La aplicación está diseñada para ser fácil de usar y proporciona una interfaz intuitiva para la gestión de eventos.
        </p>
    </div>
{% endblock %}